{% extends 'base.html' %}
{% block content %}

<form action="" method="POST">
    {{ signupform.hidden_tag() }}
    <h1>Would You Like To Register?</h1>
    <div>
        <fieldset>
            {{ signupform.avengername.label }}
            {{ signupform.avengername(class="form-control") }}
        </fieldset>
        <fieldset>
            {{ signupform.address.label }}
            {{ signupform.address(class="form-control") }}
        </fieldset>
        <fieldset>
            {{ signupform.phonenumber.label }}
            {{ signupform.phonenumber(class="form-control") }}
        </fieldset>

        {{signupform.submit(class="button") }}
    </div>
</form>
{% endblock content %}